apiVersion: v1
kind: Secret
metadata:
  name: s3-secret
  namespace: longhorn-system
type: Opaque
stringData:
  AWS_ACCESS_KEY_ID: key_id
  AWS_SECRET_ACCESS_KEY: access_key
  AWS_ENDPOINTS: https://minio.hs.liquid.sh
