- name: Download Fedora CoreOS image
  ansible.builtin.include_role:
    name: vm.download_image

- name: Create VM
  ansible.builtin.include_tasks: create-vm.yaml
  loop: '{{ nodes }}'
  loop_control:
    loop_var: vm

- name: Import downloaded image into VM
  community.general.proxmox_disk:
    api_host: '{{ ansible_host }}'
    api_user: '{{ proxmox_username }}'
    api_password: '{{ proxmox_password }}'
    name: '{{ item.hostname }}'
    storage: local-zfs
    media: disk
    disk: scsi0
    import_from: '{{ image_tmp_path }}'
    ssd: true
    format: raw
    discard: true
    iothread: true
    replicate: true
  loop: '{{ nodes }}'
  delegate_to: localhost
  retries: 3
  delay: 5

- name: Resize image
  community.general.proxmox_disk:
    api_host: '{{ ansible_host }}'
    api_user: '{{ proxmox_username }}'
    api_password: '{{ proxmox_password }}'
    name: '{{ item.hostname }}'
    disk: scsi0
    state: resized
    size: '{{ item.disk_size | default("20G") }}'
  loop: '{{ nodes }}'
  delegate_to: localhost

- name: Change VM boot order to boot from the image
  community.general.proxmox_kvm:
    api_host: '{{ ansible_host }}'
    api_user: '{{ proxmox_username }}'
    api_password: '{{ proxmox_password }}'
    node: '{{ inventory_hostname }}'
    name: '{{ item.hostname }}'
    boot: 'order=scsi0'
    update: true
  loop: '{{ nodes }}'
  delegate_to: localhost

- name: Start VM
  community.general.proxmox_kvm:
    api_host: '{{ ansible_host }}'
    api_user: '{{ proxmox_username }}'
    api_password: '{{ proxmox_password }}'
    name: '{{ item.hostname }}'
    state: started
  loop: '{{ nodes }}'
  delegate_to: localhost
