controllers:
  main:
    type: deployment

    annotations:
      glance/id: linkwarden
      glance/name: Linkwarden
      glance/description: Link Management
      glance/icon: di:linkwarden.png
      glance/category: general

    pod:
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        runAsNonRoot: true
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
        seccompProfile:
          type: RuntimeDefault

    containers:
      main:
        image:
          repository: ghcr.io/linkwarden/linkwarden
          tag: v2.13.1@sha256:54271afa4fc34107f98d9ba580e320e3bd5b3e02339f7d68947d01a375ea7bb3
          pullPolicy: IfNotPresent
        env:
          NEXTAUTH_URL: https://linkwarden.hs.liquid.sh/api/v1/auth
          NEXTAUTH_SECRET:
            valueFrom:
              secretKeyRef:
                name: linkwarden-nextauth-secret
                key: secret
          DATABASE_URL:
            valueFrom:
              secretKeyRef:
                name: postgres-linkwarden-app
                key: uri
          MEILI_HOST: meilisearch.linkwarden.svc.cluster.local:7700
          MEILI_MASTER_KEY:
            valueFrom:
              secretKeyRef:
                name: meilisearch-master-key
                key: MEILI_MASTER_KEY
          NEXT_PUBLIC_AUTHENTIK_ENABLED: true
          NEXT_PUBLIC_CREDENTIALS_ENABLED: false
          NEXT_PUBLIC_DISABLE_REGISTRATION: true
          AUTHENTIK_CUSTOM_NAME: auth.liquid.sh
          AUTHENTIK_ISSUER: https://auth.liquid.sh/application/o/linkwarden/
          AUTHENTIK_CLIENT_ID:
            valueFrom:
              secretKeyRef:
                name: oidc-secret
                key: clientID
          AUTHENTIK_CLIENT_SECRET:
            valueFrom:
              secretKeyRef:
                name: oidc-secret
                key: clientSecret
        probes:
          liveness: &probes
            enabled: true
            custom: true
            spec:
              httpGet:
                path: /
                port: &port 3000
              initialDelaySeconds: 0
              periodSeconds: 10
              timeoutSeconds: 1
              failureThreshold: 3
          readiness: *probes
        resources:
          requests:
            cpu: 50m
            memory: 256Mi
          # limits:
          #   memory: 512Mi
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          capabilities:
            drop:
              - ALL

service:
  main:
    controller: main
    ports:
      http:
        port: *port

route:
  main:
    enabled: true
    parentRefs:
      - namespace: envoy-gateway-system
        name: gateway-local
      - namespace: envoy-gateway-system
        name: gateway-tailscale
    hostnames:
      - linkwarden.hs.liquid.sh
    rules:
      - matches:
          - path:
              type: PathPrefix
              value: /
        backendRefs:
          - kind: Service

persistence:
  main:
    storageClass: nfs-csi
    size: 10Gi
    accessMode: ReadWriteOnce
    globalMounts:
      - path: /data/data
  node-cache:
    enabled: true
    type: emptyDir
    globalMounts:
      - path: /home/node
  playwright-cache:
    enabled: true
    storageClass: nfs-csi
    size: 1Gi
    accessMode: ReadWriteOnce
    globalMounts:
      - path: /home/node/.cache/ms-playwright
  image-cache:
    enabled: true
    type: emptyDir
    globalMounts:
      - path: /data/apps/web/.next/cache/images
  tmp:
    enabled: true
    type: emptyDir
