controllers:
  main:
    type: deployment

    annotations:
      glance/id: radarr
      glance/name: Radarr
      glance/description: Movie manager
      glance/icon: di:radarr
      glance/category: media

    pod:
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        runAsNonRoot: true
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
        seccompProfile:
          type: RuntimeDefault

    containers:
      main:
        image:
          repository: ghcr.io/home-operations/radarr
          tag: 6.0.4.10291@sha256:73fbdba72dcde5fec16264e63a9daba7829b5c2806a75615463a67117b100de3
          pullPolicy: IfNotPresent
        env:
          RADARR__POSTGRES__HOST:
            valueFrom:
              secretKeyRef:
                name: postgres-media-app
                key: host
          RADARR__POSTGRES__PORT:
            valueFrom:
              secretKeyRef:
                name: postgres-media-app
                key: port
          RADARR__POSTGRES__USER:
            valueFrom:
              secretKeyRef:
                name: postgres-media-app
                key: user
          RADARR__POSTGRES__PASSWORD:
            valueFrom:
              secretKeyRef:
                name: postgres-media-app
                key: password
          RADARR__POSTGRES__MAINDB: radarr-main
          RADARR__POSTGRES__LOGDB: radarr-log
          RADARR__AUTH__APIKEY:
            valueFrom:
              secretKeyRef:
                name: radarr-api-key
                key: apiKey
          RADARR__SERVER__PORT: &port 7878
          RADARR__LOG__LEVEL: info
        probes:
          liveness: &probes
            enabled: true
            custom: true
            spec:
              httpGet:
                path: /ping
                port: *port
              initialDelaySeconds: 0
              periodSeconds: 10
              timeoutSeconds: 1
              failureThreshold: 3
          readiness: *probes
        resources:
          requests:
            cpu: 20m
            memory: 256Mi
          limits:
            memory: 1Gi
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          capabilities:
            drop:
              - ALL

service:
  main:
    controller: main
    ports:
      http:
        port: *port

route:
  main:
    enabled: true
    kind: HTTPRoute
    parentRefs:
      - namespace: envoy-gateway-system
        name: gateway-local
      - namespace: envoy-gateway-system
        name: gateway-tailscale
    hostnames:
      - radarr.hs.liquid.sh
    rules:
      - matches:
          - path:
              type: PathPrefix
              value: /
        backendRefs:
          - kind: Service

persistence:
  config:
    storageClass: longhorn
    size: 100Mi
    accessMode: ReadWriteOnce
  add-ons:
    type: emptyDir
  tmp:
    type: emptyDir
  media:
    type: persistentVolumeClaim
    existingClaim: media-storage
    globalMounts:
      - path: /data
