apiVersion: v1
kind: Secret
metadata:
  name: postgres-secret
  namespace: dangobot
stringData:
  postgres-password: '<insert secure password for postgres DB here>'
  password: '<insert secure password for postgres DB here>'
