immich:
  persistence:
    library:
      existingClaim: immich-upload

image:
  tag: v1.119.1

postgresql:
  enabled: true
  primary:
    resources:
      requests:
        cpu: 200m
      limits:
        cpu: 300m
    persistence:
      size: 8Gi
      storageClass: longhorn

redis:
  enabled: true
  master:
    persistence:
      size: 2Gi
      storageClass: longhorn

server:
  resources:
    requests:
      cpu: 250m
    limits:
      cpu: 1250m
      gpu.intel.com/i915: 1
  ingress:
    main:
      enabled: true
      annotations:
        cert-manager.io/cluster-issuer: letsencrypt
      tls:
        - hosts:
            - immich.hs.liquid.sh
          secretName: tls-immich-ingress
      hosts:
        - host: immich.hs.liquid.sh
          paths:
            - path: /

machine-learning:
  resources:
    requests:
      cpu: 250m
    limits:
      cpu: 1000m
  persistence:
    cache:
      type: pvc
      storageClass: nfs-csi
