controllers:
  main:
    pod:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
        seccompProfile:
          type: RuntimeDefault

    containers:
      main:
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          capabilities:
            drop:
            - ALL

valkey:
  enabled: true
  controllers:
    main:
      annotations:
        glance/parent: immich
  persistence:
    data:
      enabled: true
      size: 256Mi
      type: persistentVolumeClaim
      storageClass: longhorn

immich:
  persistence:
    library:
      existingClaim: immich-upload
  metrics:
    enabled: true

server:
  controllers:
    main:
      annotations:
        glance/id: immich
        glance/name: Immich
        glance/description: Photo management
        glance/icon: di:immich
        glance/category: general
      containers:
        main:
          image:
            repository: ghcr.io/immich-app/immich-server # needed here for renovate to pick up this file
            tag: v2.5.6@sha256:aa163d2e1cc2b16a9515dd1fef901e6f5231befad7024f093d7be1f2da14341a
          env:
            DB_HOSTNAME:
              valueFrom:
                secretKeyRef:
                  name: postgres-immich-app
                  key: host
            DB_DATABASE_NAME:
              valueFrom:
                secretKeyRef:
                  name: postgres-immich-app
                  key: dbname
            DB_USERNAME:
              valueFrom:
                secretKeyRef:
                  name: postgres-immich-app
                  key: username
            DB_PASSWORD:
              valueFrom:
                secretKeyRef:
                  name: postgres-immich-app
                  key: password
          resources:
            requests:
              cpu: 250m
            limits:
              cpu: 1250m
              gpu.intel.com/i915: 1

  persistence:
    external:
      enabled: true
      existingClaim: immich-external
      readOnly: true

  route:
    main:
      enabled: true
      parentRefs:
        - namespace: envoy-gateway-system
          name: gateway-local
        - namespace: envoy-gateway-system
          name: gateway-tailscale
      hostnames:
        - immich.hs.liquid.sh
      rules:
        - matches:
            - path:
                type: PathPrefix
                value: /
          backendRefs:
            - kind: Service

machine-learning:
  controllers:
    main:
      annotations:
        glance/parent: immich
      containers:
        main:
          image:
            repository: ghcr.io/immich-app/immich-machine-learning # needed here for renovate to pick up this file
            tag: v2.5.6@sha256:b213fa3c82d27a21a299c46ffbb38a091f18384db1ad67d409a3b34fe0fce556
          resources:
            requests:
              cpu: 250m
            limits:
              cpu: 1000m

  persistence:
    cache:
      enabled: true
      size: 10Gi
      type: persistentVolumeClaim
      storageClass: nfs-csi
    config:
      enabled: true
      type: emptyDir
      globalMounts:
        - path: /.config
    temp-cache:
      enabled: true
      type: emptyDir
      globalMounts:
        - path: /.cache
    tmp:
      enabled: true
      type: emptyDir
