apiVersion: v1
kind: Secret
metadata:
  name: ntfy-web-push-secret
  namespace: ntfy
  annotations:
    argocd.argoproj.io/sync-wave: '-100'
type: Opaque
stringData:
  # see https://docs.ntfy.sh/config/#web-push
  web-push-public-key: AA1234BBCCddvveekaabcdfqwertyuiopasdfghjklzxcvbnm1234567890
  web-push-private-key: AA2BB1234567890abcdefzxcvbnm12345678
  web-push-email-address: sysadmin@example.com
