hypervisors:
  hosts:
    proxmox:
      ansible_host: 10.10.0.50
      ansible_user: root
      nodes:
        - hostname: homelab-control-plane-hva
          cores: 2
          memory: 6144
          disk_size: 20G
          mac: 'bc:24:11:62:c3:81'
          role: control-plane
        - hostname: homelab-worker-cnq
          cores: 4
          memory: 12288
          disk_size: 50G
          mac: 'bc:24:11:e1:29:cf'
          role: worker
    proxmox2:
      ansible_host: 10.10.0.51
      ansible_user: root
      nodes:
        - hostname: homelab-control-plane-lma
          cores: 2
          memory: 6144
          disk_size: 20G
          mac: 'fa:36:df:07:ca:a7'
          role: control-plane
        - hostname: homelab-worker-mhr
          cores: 4
          memory: 12288
          disk_size: 50G
          mac: '42:de:3d:09:15:ec'
          role: worker
