apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: external-dns
  namespace: argocd
  labels:
    name: external-dns
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: core
  destination:
    server: https://kubernetes.default.svc
    namespace: external-dns
  sources:
    - chart: external-dns
      repoURL: https://kubernetes-sigs.github.io/external-dns
      targetRevision: 1.15.0
      helm:
        valueFiles:
          - $values/k8s/luna/core/external-dns/values.yaml
    - repoURL: https://github.com/LiquidPL/infra.git
      targetRevision: master
      path: k8s/luna/core/external-dns/resources
      ref: values
  syncPolicy:
    automated:
      selfHeal: true
    retry:
      limit: 3
      backoff:
        duration: 10s
        factor: 3
    syncOptions:
      - CreateNamespace=true
