apiVersion: v1
kind: Secret
metadata:
  annotations:
    argocd.argoproj.io/sync-options: ""
    argocd.argoproj.io/sync-wave: "5"
  labels:
    app.kubernetes.io/component: grafana
    app.kubernetes.io/name: grafana
    app.kubernetes.io/part-of: kube-prometheus
    app.kubernetes.io/version: 12.3.0
  name: grafana-config
  namespace: monitoring
stringData:
  grafana.ini: |
    [auth]
    oauth_auto_login = true
    signout_redirect_url = https://auth.liquid.sh/application/o/grafana/end-session/
    [auth.generic_oauth]
    api_url = https://auth.liquid.sh/application/o/userinfo/
    auth_url = https://auth.liquid.sh/application/o/authorize/
    client_id = $__file{/etc/secrets/auth_generic_oauth/client_id}
    client_secret = $__file{/etc/secrets/auth_generic_oauth/client_secret}
    enabled = true
    name = auth.liquid.sh
    role_attribute_path = contains(groups, 'K8s Cluster Admins') && 'Admin'
    scopes = openid email profile
    token_url = https://auth.liquid.sh/application/o/token/
    [date_formats]
    default_timezone = Europe/Warsaw
    [server]
    root_url = https://grafana.hs.liquid.sh
type: Opaque
