# pod-specific values that are shared between the nfs and iscsi drivers
controller:
  driver:
    image: &image
      registry: ghcr.io/democratic-csi/democratic-csi
      tag: v1.9.5@sha256:fc3b7d7ed3a616714139525075312758e23a5d425ffb539ad12c9bd20fb6001f
    extraEnv:
      - name: TRUENAS_API_KEY
        valueFrom:
          secretKeyRef:
            name: truenas-api-key
            key: apiKey

node:
  driver:
    image: *image
    extraEnv:
      - name: TRUENAS_API_KEY
        valueFrom:
          secretKeyRef:
            name: truenas-api-key
            key: apiKey
