controllers:
  main:
    type: deployment

    annotations:
      glance/id: prowlarr
      glance/name: Prowlarr
      glance/description: Indexer manager
      glance/icon: di:prowlarr
      glance/category: media

    pod:
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        runAsNonRoot: true
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
        seccompProfile:
          type: RuntimeDefault

    containers:
      main:
        image:
          repository: ghcr.io/home-operations/prowlarr
          tag: 2.3.1.5238@sha256:4394dff2311238bf5c31e006872122ed4e5f6bf042d33528d80acd44a09c57f7
          pullPolicy: IfNotPresent
        env:
          PROWLARR__POSTGRES__HOST:
            valueFrom:
              secretKeyRef:
                name: postgres-media-app
                key: host
          PROWLARR__POSTGRES__PORT:
            valueFrom:
              secretKeyRef:
                name: postgres-media-app
                key: port
          PROWLARR__POSTGRES__USER:
            valueFrom:
              secretKeyRef:
                name: postgres-media-app
                key: user
          PROWLARR__POSTGRES__PASSWORD:
            valueFrom:
              secretKeyRef:
                name: postgres-media-app
                key: password
          PROWLARR__POSTGRES__MAINDB: prowlarr-main
          PROWLARR__POSTGRES__LOGDB: prowlarr-log
          PROWLARR__AUTH__APIKEY:
            valueFrom:
              secretKeyRef:
                name: prowlarr-api-key
                key: apiKey
          PROWLARR__SERVER__PORT: &port 9696
        probes:
          liveness: &probes
            enabled: true
            custom: true
            spec:
              httpGet:
                path: /ping
                port: *port
              initialDelaySeconds: 0
              periodSeconds: 10
              timeoutSeconds: 1
              failureThreshold: 3
          readiness: *probes
        resources:
          requests:
            cpu: 20m
            memory: 128Mi
          limits:
            memory: 512Mi
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          capabilities:
            drop:
              - ALL

service:
  main:
    controller: main
    ports:
      http:
        port: *port

route:
  main:
    enabled: true
    kind: HTTPRoute
    parentRefs:
      - namespace: envoy-gateway-system
        name: gateway-local
      - namespace: envoy-gateway-system
        name: gateway-tailscale
    hostnames:
      - prowlarr.hs.liquid.sh
    rules:
      - matches:
          - path:
              type: PathPrefix
              value: /
        backendRefs:
          - kind: Service

persistence:
  config:
    storageClass: longhorn
    size: 100Mi
    accessMode: ReadWriteOnce
  add-ons:
    type: emptyDir
  tmp:
    type: emptyDir
