global:
  domain: argocd.luna.liquid.sh

configs:
  params:
    server.insecure: true
    applicationsetcontroller.enable.new.git.file.globbing: true
  cmp:
    create: true
    plugins:
      tanka:
        version: '0.27.1'
        init:
          command: ['sh', '-c', '/usr/local/bin/jb install']
        generate:
          command: ['sh', '-c', '/usr/local/bin/tk show environments/${ARGOCD_ENV_TK_ENV} --dangerous-allow-redirect']
        discover:
          fileName: './environments/*/main.jsonnet'


server:
  ingress:
    enabled: true
    annotations:
      cert-manager.io/cluster-issuer: letsencrypt
    extraTls:
      - hosts:
          - argocd.luna.liquid.sh
        secretName: tls-argocd

repoServer:
  volumes:
    - configMap:
        name: argocd-cmp-cm
      name: plugin-config
    - emptyDir: {}
      name: cmp-tmp
  extraContainers:
    - name: tanka
      command: ['/var/run/argocd/argocd-cmp-server']
      image: grafana/tanka:0.27.1
      imagePullPolicy: IfNotPresent
      securityContext:
        runAsNonRoot: true
        runAsUser: 999
      volumeMounts:
        - mountPath: /var/run/argocd
          name: var-files
        - mountPath: /home/argocd/cmp-server/plugins
          name: plugins
        - mountPath: /home/argocd/cmp-server/config/plugin.yaml
          subPath: tanka.yaml
          name: plugin-config
        - mountPath: /tmp
          name: cmp-tmp
