controllers:
  main:
    type: deployment
    strategy: Recreate

    annotations:
      glance/id: qbittorrent
      glance/name: qBittorrent
      glance/description: Torrent client
      glance/icon: di:qbittorrent
      glance/category: media

    pod:
      securityContext:
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch

    initContainers:
      gluetun:
        image:
          repository: qmcgaw/gluetun
          tag: v3.40.3
        restartPolicy: Always
        envFrom:
          - secretRef:
              name: vpn-secret
        env:
          UPDATER_PERIOD: '24h'
          # necessary for accessing the qbittorrent webui while using gluetun
          # see https://github.com/qdm12/gluetun-wiki/blob/main/setup/options/firewall.md
          FIREWALL_INPUT_PORTS: &port 8080
          FIREWALL_OUTBOUND_SUBNETS: '10.42.0.0/16,10.43.0.0/16'
          DOT: 'off'
        securityContext:
          capabilities:
            add:
              - NET_ADMIN
        # https://github.com/qdm12/gluetun-wiki/blob/main/setup/advanced/kubernetes.md#adding-ipv6-rule--file-exists
        lifecycle:
          postStart:
            exec:
              command: ['/bin/sh', '-c', '(ip rule del table 51820; ip -6 rule del table 51820) || true']
        probes:
          startup:
            enabled: true
            custom: true
            spec:
              exec:
                command:
                  - /gluetun-entrypoint
                  - healthcheck
              initialDelaySeconds: 10
              timeoutSeconds: 5
              periodSeconds: 5
              failureThreshold: 3
          liveness:
            enabled: true
            custom: true
            spec:
              exec:
                command:
                  - /gluetun-entrypoint
                  - healthcheck
              timeoutSeconds: 5
              periodSeconds: 5
              failureThreshold: 3

    containers:
      main:
        image:
          repository: ghcr.io/home-operations/qbittorrent
          tag: 5.1.3@sha256:2feb2c8d188db4de330ca4840c167282e10e3252f4c6d1bce7943c7f46099836
          pullPolicy: IfNotPresent
        env:
          QBT_WEBUI_PORT: *port
        probes:
          liveness:
            enabled: true
          readiness:
            enabled: true
          startup:
            enabled: true
            spec:
              failureThreshold: 30
              periodSeconds: 5
        resources:
          requests:
            cpu: 50m
            memory: 512Mi
          limits:
            memory: 2Gi
        securityContext:
          runAsUser: 1000
          runAsGroup: 1000
          runAsNonRoot: true
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          capabilities:
            drop:
              - ALL

service:
  main:
    controller: main
    ports:
      http:
        port: *port

route:
  main:
    enabled: true
    kind: HTTPRoute
    parentRefs:
      - namespace: envoy-gateway-system
        name: gateway-local
      - namespace: envoy-gateway-system
        name: gateway-tailscale
    hostnames:
      - qbittorrent.hs.liquid.sh
    rules:
      - matches:
          - path:
              type: PathPrefix
              value: /
        backendRefs:
          - kind: Service

persistence:
  gluetun:
    storageClass: longhorn
    size: 16Mi
    accessMode: ReadWriteOnce
    advancedMounts:
      main:
        gluetun:
          - path: /gluetun
  config:
    storageClass: longhorn
    size: 32Mi
    accessMode: ReadWriteOnce
    advancedMounts:
      main:
        main:
          - path: /config
  media:
    type: persistentVolumeClaim
    existingClaim: media-storage
    advancedMounts:
      main:
        main:
          - path: /data
