apiVersion: v1
kind: Secret
metadata:
  name: frigate-secrets
  namespace: apps
type: Opaque
stringData:
  FRIGATE_RTSP_USER: rtsp
  FRIGATE_RTSP_PASSWORD: ''
  FRIGATE_MQTT_USER: mqtt
  FRIGATE_MQTT_PASSWORD: ''
