apiVersion: v1
kind: Secret
metadata:
  name: lldap-secret
  namespace: lldap
type: Opaque
stringData:
  jwtSecret: # long secure random value
  keySeed: # as above
  ldapUserPass: # initial admin password
