variant: fcos
version: 1.5.0
passwd:
  users:
    - name: liquid
      groups:
        - wheel
        - sudo
      ssh_authorized_keys:
        - {{ node_ssh_key }}
systemd:
  units:
{% if item.role == 'worker' %}
    - name: setup-topolvm-vg.service
      enabled: true
      contents: |
        [Unit]
        Description=Create LVM Volume Group for TopoLVM
        ConditionFirstBoot=yes
        DefaultDependencies=no
        Wants=local-fs-pre.target
        After=local-fs-pre.target
        Before=local-fs.target

        [Service]
        Type=oneshot
        Restart=on-failure
        RemainAfterExit=yes
        ExecStart=/usr/local/bin/setup-lvm.sh

        [Install]
        WantedBy=multi-user.target
{% endif %}
    - name: ucore-unsigned-autorebase.service
      enabled: true
      contents: |
        [Unit]
        Description=uCore autorebase to unsigned OCI and reboot
        ConditionPathExists=!/etc/ucore-autorebase/unverified
        ConditionPathExists=!/etc/ucore-autorebase/signed
        After=network-online.target
        Wants=network-online.target
        [Service]
        Type=oneshot
        StandardOutput=journal+console
        ExecStart=/usr/bin/rpm-ostree rebase --bypass-driver ostree-unverified-registry:ghcr.io/liquidpl/ucore:stable
        ExecStart=/usr/bin/touch /etc/ucore-autorebase/unverified
        ExecStart=/usr/bin/systemctl disable ucore-unsigned-autorebase.service
        ExecStart=/usr/bin/systemctl reboot
        [Install]
        WantedBy=multi-user.target
    - name: ucore-signed-autorebase.service
      enabled: true
      contents: |
        [Unit]
        Description=uCore autorebase to signed OCI and reboot
        ConditionPathExists=/etc/ucore-autorebase/unverified
        ConditionPathExists=!/etc/ucore-autorebase/signed
        After=network-online.target
        Wants=network-online.target
        [Service]
        Type=oneshot
        StandardOutput=journal+console
        ExecStart=/usr/bin/rpm-ostree rebase --bypass-driver ostree-image-signed:docker://ghcr.io/liquidpl/ucore:stable
        ExecStart=/usr/bin/touch /etc/ucore-autorebase/signed
        ExecStart=/usr/bin/systemctl disable ucore-signed-autorebase.service
        ExecStart=/usr/bin/systemctl reboot
        [Install]
        WantedBy=multi-user.target
    - name: tailscale-auth.service
      enabled: true
      contents: |
        [Unit]
        Description=Authenticate to Tailscale
        Wants=network-online.target
        After=network-online.target
        Before=zincati.service
        ConditionPathExists=!/var/lib/%N.done
        ConditionPathExists=/etc/ucore-autorebase/unverified
        ConditionPathExists=/etc/ucore-autorebase/signed

        [Service]
        Type=oneshot
        RemainAfterExit=yes
        ExecStart=/usr/bin/systemctl enable --now tailscaled
        ExecStart=/usr/bin/tailscale up --authkey {{ tailscale_auth_key }} --ssh
        ExecStart=/bin/touch /var/lib/%N.done

        [Install]
        WantedBy=multi-user.target

storage:
{% if item.role == 'worker' %}
  disks:
    - device: /dev/sdb
      wipe_table: true
      partitions:
        - number: 1
          label: longhorn
          format: xfs
          size_mib: 0
  filesystems:
    - path: /var/longhorn
      device: /dev/disk/by-partlabel/longhorn
      label: longhorn
      format: xfs
      with_mount_unit: true
{% endif %}
  directories:
    - path: /etc/ucore-autorebase
      mode: 0754
  files:
    # prevent NetworkManager from interfering with calico interfaces
    # see: https://docs.tigera.io/calico/latest/operations/troubleshoot/troubleshooting#configure-networkmanager
    - path: /etc/NetworkManager/conf.d/99-calico.conf
      contents:
        inline: |
          [keyfile]
          unmanaged-devices=interface-name:cali*;interface-name:tunl*;interface-name:vxlan.calico;interface-name:vxlan-v6.calico;interface-name:wireguard.cali;interface-name:wg-v6.cali
    # needed for calico
    # see: https://kubespray.io/#/docs/operating_systems/fcos?id=network
    - path: /etc/sysctl.d/90-reverse-path-filter.conf
      contents:
        inline: |
          net.ipv4.conf.all.rp_filter=1
    # limits need to be raised from the defaults, k8s would run out of inotify resources/file watches otherwise
    - path: /etc/sysctl.d/99-inotify.conf
      contents:
        inline: |
          fs.inotify.max_user_instances=512
          fs.inotify.max_user_watches=262144
{% if item.role == 'worker' %}
    - path: /usr/local/bin/setup-lvm.sh
      mode: 0755
      contents:
        inline: |
          #!/bin/bash
          set -euo pipefail

          echo "Creating Physical Volume"
          pvcreate /dev/disk/by-id/scsi-0QEMU_QEMU_HARDDISK_drive-scsi2

          echo "Creating Volume Group"
          vgcreate topolvm /dev/disk/by-id/scsi-0QEMU_QEMU_HARDDISK_drive-scsi2
{% endif %}
  links:
    # explicitly set UTC timezone, as some k8s apps
    # would break when there is no /etc/localtime symlink set
    - path: /etc/localtime
      target: ../usr/share/zoneinfo/UTC
