apiVersion: batch/v1
kind: CronJob
metadata:
  name: offsite-backup-incremental
spec:
  schedule: '0 3 * * 1,2,3,4,5,6'
  jobTemplate:
    spec:
      template:
        spec:
          restartPolicy: OnFailure
          containers:
            - name: rclone
              image: rclone/rclone:1.71.2@sha256:3103526c506266a9ecdf064efe99bf3677d92ef6407af124d8c56b4f49cbaa51
              imagePullPolicy: IfNotPresent
              command: ['/bin/sh']
              args:
                - -c
                - >-
                    rclone sync --fast-list --progress minio:postgres-immich postgres: &&
                    rclone copy --max-age 24h --no-traverse --s3-storage-class DEEP_ARCHIVE --progress /data/upload/ assets:upload/ &&
                    rclone copy --max-age 24h --no-traverse --s3-storage-class DEEP_ARCHIVE --progress /data/profile/ assets:profile/
              env:
                - name: RCLONE_CONFIG_MINIO_ACCESS_KEY_ID
                  valueFrom:
                    secretKeyRef:
                      name: minio-secret
                      key: ACCESS_KEY_ID
                - name: RCLONE_CONFIG_MINIO_SECRET_ACCESS_KEY
                  valueFrom:
                    secretKeyRef:
                      name: minio-secret
                      key: SECRET_ACCESS_KEY
                - name: RCLONE_CONFIG_AWS_ACCESS_KEY_ID
                  valueFrom:
                    secretKeyRef:
                      name: offsite-backup-credentials
                      key: awsAccessKeyId
                - name: RCLONE_CONFIG_AWS_SECRET_ACCESS_KEY
                  valueFrom:
                    secretKeyRef:
                      name: offsite-backup-credentials
                      key: awsSecretAccessKey
                - name: RCLONE_CRYPT_PASSWORD
                  valueFrom:
                    secretKeyRef:
                      name: offsite-backup-credentials
                      key: encryptionPassword
                - name: RCLONE_CRYPT_PASSWORD2
                  valueFrom:
                    secretKeyRef:
                      name: offsite-backup-credentials
                      key: encryptionSalt
                - name: RCLONE_CONFIG_POSTGRES_REMOTE
                  valueFrom:
                    secretKeyRef:
                      name: offsite-backup-credentials
                      key: dbRemote
                - name: RCLONE_CONFIG_ASSETS_REMOTE
                  valueFrom:
                    secretKeyRef:
                      name: offsite-backup-credentials
                      key: assetsRemote
                - name: RCLONE_S3_CHUNK_SIZE
                  value: 200Mi
                - name: RCLONE_S3_UPLOAD_CUTOFF
                  value: '0'
                - name: RCLONE_S3_NO_CHECK_BUCKET
                  value: 'true'
                - name: RCLONE_TRANSFERS
                  value: '10'
                - name: RCLONE_CHECKERS
                  value: '10'
              resources:
                requests:
                  cpu: 1000m
                  memory: 2Gi
                limits:
                  memory: 2Gi
              securityContext:
                allowPrivilegeEscalation: false
                capabilities:
                  drop:
                    - ALL
              volumeMounts:
                - name: data
                  mountPath: /data
                  readOnly: true
                - name: rclone-config
                  mountPath: /config/rclone
                  readOnly: true
          securityContext:
            runAsUser: 1000
            runAsGroup: 1000
            runAsNonRoot: true
            fsGroup: 1000
            fsGroupChangePolicy: OnRootMismatch
            seccompProfile:
              type: RuntimeDefault
          volumes:
            - name: data
              persistentVolumeClaim:
                claimName: immich-upload
            - name: rclone-config
              configMap:
                name: offsite-backup-config
