apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: postgres-immich
  namespace: immich
  annotations:
    argocd.argoproj.io/sync-wave: '-50'
    glance/parent: immich
spec:
  instances: 2
  imageName: ghcr.io/tensorchord/cloudnative-vectorchord:17.5-0.4.3@sha256:acebb38ca309938bc05ce268b019c98aa718cb554dd54e4443654d9d00a0d498
  storage:
    storageClass: topolvm-provisioner
    size: 10Gi
  postgresql:
    synchronous:
      method: any
      number: 1
    parameters:
      shared_buffers: '256MB'
    shared_preload_libraries:
      - 'vchord.so'
  managed:
    roles:
      - name: immich
        login: true
        superuser: true
  bootstrap:
    initdb:
      database: immich
      owner: immich
      dataChecksums: true # as per official docker compose stack, see: https://github.com/immich-app/immich/blob/main/docker/docker-compose.yml
  resources:
    requests:
      memory: 1Gi
      cpu: 200m
    limits:
      memory: 1Gi
  plugins:
    - name: barman-cloud.cloudnative-pg.io
      isWALArchiver: true
      parameters:
        barmanObjectName: minio-homelab
