apiVersion: v1
kind: Secret
metadata:
  name: s3-secret
  namespace: immich
  annotations:
    argocd.argoproj.io/sync-wave: '-100'
type: Opaque
stringData:
  ACCESS_KEY_ID: access_key_id
  SECRET_ACCESS_KEY: secret_access_key
